.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  position: relative;
  text-align: center;
}

.options .tools {
  position: relative;
}

.Canvas-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em ;
  flex-direction: column;
}

.Canvas {
  margin: 0 auto;
  border: black solid 1px;
}

.Toolbar {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  width: 5rem;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black 1px;
  
}

.Toolbar-Item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  max-height: 100px;
  font-size: xx-large;
}

.Toolbar-Item:hover {
  border: solid rgb(50, 163, 255) 1px;
  background-color: aliceblue;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Color-Selectors {
  text-align: center;
}

.Color-Selectors .react-colorful{
  padding: 20px;
  width: 80px;
  height: 80px;
}

.Color-Selectors p {
  margin: 0 auto;
}

.Container .NotificationContainer {

  width: 120px;
  max-width:120px;
  min-width:120px;
  height: fit-content;
  margin: 0.5em;
  font-size: larger;
}

.Container .usersDropdown {
  min-width: 100px;
}

.Container .userList {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0.5em;
  border: solid black 1px;
  padding: 0.25em;
  font-size: larger;
}

.Container .userList h3{
  cursor: pointer;
}

.Container .userList p{
  margin: 0;
  cursor: default;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

.FrameViewContainer {
  margin-bottom: 0;
  font-size: larger;
}

.FrameViewItem {
  border: solid black 1px;
}

.FrameViewImage {
  min-width: 100px;
  min-height: 100px;
  max-width: 100%;
  max-height: 100%;
}